{% extends '@layout/default.html.twig' %}

{% block title %}Home{% endblock %}

{% block content %}
    <div id="container-degress" class="row text-center">
        <div class="col-md-12">
            <h2>
                <span id="degress">30&deg;</span>
            </h2>
        </div>
    </div>
    <div id="container-image" class="row text-center">
        <div class="col-md-12">
            <img width="34" id="temp-image" src="/assets/images/loading.gif" alt="">
        </div>
    </div>
{% endblock %}
