/* Sticky footer styles
 * -------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
.app-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 90px;
    background-color: #6280DE;
}
/* Custom page CSS
 * -------------------------------------------------- */
.navbar-green{
    background-color: #8BE445;
    border-color: #8BE445;
}

.navbar-brand {
    padding:3px 15px;
}

.nav>li>a:hover{
    background-color: #6280DE;
    color: #fff;
}

#location {
    font-weight:bold;
} 

#temp-image {
    padding-top: 6px;
}

span#degress{
    font-size: 70vh;
}

#container-degress {
    display:none;
}

#container-image div{
    height: 60vh;
}

#container-image div img{
    margin-top: 30vh;
}

.text-center{
    vertical-align:middle;
    text-align:center;
}


.app-footer p {
    vertical-align:middle;
    text-align:center;
    font-size: 60px;
}
